@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin:0
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

#logo {
   margin-top:15px;
   display:flex;
   flex-direction: column;
   align-items: center 
}




#logo_text a {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color:black;
  font-weight: 100;
  
  
}

#nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding:0;  
}

#nav ul li {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 100;
   
}


#nav ul li a {
    color: gray; 
    text-decoration: none;
}

#nav ul li a:hover {
    cursor: pointer;
    color: #00AA55
}

#slider {
   background-image: url("https://s20.directupload.net/images/220304/kicn9n66.jpg");
   width:100%;
   height:240px;
   background-size: cover;
   background-position: center;
}

#mitte {
  padding-left:5%;
  padding-right:5%;
}

#mitte h1,h2,h3,h4 {
    color:#00AA55;
    font-weight:300;
}

#unten {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 15px;
  background: #00AA55
}

#unten p {
    text-align: center;
    margin-bottom: 0;
}

#social_icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#social_icons a {
    padding:10px;
    font-weight: 300;
    color:white;
    text-decoration: none;
    margin: 5px;
}

#social_yt {
   background-color:#ff0000 
}

#social_ig {
    background:linear-gradient(to right, #405de6 , #5851db , #833ab4 , #c13584 , #e1306c , #fd1d1d , #f56040 , #f77737 , #fcaf45 , #ffdc80);
}

#social_tt {
    background-color:#9146ff
}





















